@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link href="~/vendor/fullcalendar/css/fullcalendar.min.css" rel="stylesheet">

<!--**********************************
    Sidebar end
***********************************-->
<!--**********************************
    Content body start
***********************************-->

    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Calendario</h4>
                    <p class="mb-0">Registro de evntos</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)"></a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)"></a></li>
                </ol>
            </div>
        </div>
        <!-- row -->


        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-intro-title">Calendario</h4>

                        <div class="">
                            <div id="external-events" class="my-3">
                                <p>Entradas en el calendario de trabajo</p>
                                <div class="external-event" data-class="bg-primary"><i class="fa fa-move"></i>Nueva Cita</div>
                                <div class="external-event" data-class="bg-success">
                                    <i class="fa fa-move"></i>Mantenimiento de equipos
                                </div>
                                <div class="external-event" data-class="bg-dark"><i class="fa fa-move"></i>Visita de inspección</div>
                            </div>
                            <!-- checkbox -->
                            <a href="javascript:void()" data-toggle="modal" data-target="#add-category" class="btn btn-primary btn-event w-100">
                                <span class="align-middle"><i class="ti-plus"></i></span> Creación de nuevo servicio
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-body">
                        <div id="calendar" class="app-fullcalendar"></div>
                    </div>
                </div>
            </div>
            <!-- BEGIN MODAL -->
            <div class="modal fade none-border" id="event-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"><strong>Nuevo Servicio</strong></h4>
                        </div>
                        <div class="container my-4">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label">Nombre Servicio</label>
                                        <input class="form-control form-white" placeholder="Servicio requerido" type="text" name="event-name">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Escoja el tipo de servicio</label>
                                        <select class="form-control form-white" data-placeholder="Tipo..." name="category-name">
                                            <option value="primary">Nueva Cita</option>
                                            <option value="success">Mantenimiento de equipos</option>
                                            <option value="dark">Visita de inspección</option>
                                        </select>
                                    </div>
                            </form>
                            <div class="col-md-6">
                                <label class="control-label">Técnico asignado</label>
                                <select class="form-control form-white" data-placeholder="Técnico..." name="service-tech">
                                    <option value="tech1">Pablo Rodriguez</option>
                                    <option value="tech2">Laura Maria</option>
                                    <option value="tech3">Julian Jovares</option>
                                    <option value="tech4">Carlos Charlie</option>
                                    <option value="tech5">Pamela Cristina</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Hora del servicio</label>
                                <input class="form-control form-white" placeholder="Hora" type="text" name="service-hour">
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Cliente asociado</label>
                                <select class="form-control form-white" data-placeholder="Cliente..." name="service-client">
                                    <option value="client1">Tiger Nixon</option>
                                    <option value="client2">Garrett Winters</option>
                                    <option value="client3">Ashton Cox</option>
                                    <option value="client4">Cedric Kelly</option>
                                    <option value="client5">Brielle Williamson</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Cotización asociada</label>
                                <select class="form-control form-white" data-placeholder="Cotización..." name="service-cot">
                                    <option value="cot1">1</option>
                                    <option value="cot2">2</option>
                                    <option value="cot3">3</option>
                                    <option value="cot4">4</option>
                                    <option value="cot5">5</option>

                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Comentarios adicionales</label>
                                <input class="form-control form-white" placeholder="Comentarios" type="text" name="service-comments">
                            </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success save-event waves-effect waves-light" data-dismiss="modal">
                                Crear
                                servicio
                            </button>

                            <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Add Category -->
            <div class="modal fade none-border" id="add-category">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"><strong>Agregar categoria</strong></h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label">Nombre de la categoria</label>
                                        <input class="form-control form-white" placeholder="Ingresa el nombre" type="text" name="category-name">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Selecciona la categoria por el color</label>
                                        <select class="form-control form-white" data-placeholder="Elige el color..." name="category-color"
                                            <option value="pink">Mantenimiento</option>
                                            <option value="primary">Primera visita</option>
                                            <option value="warning">Inspecciones</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<!--**********************************
    Content body end
***********************************-->

    </div>
<!--**********************************
    Main wrapper end
***********************************-->
<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script src="~/vendor/global/global.min.js"></script>
<script src="~/js/quixnav-init.js"></script>
<script src="~/js/custom.min.js"></script>
<!--removeIf(production)-->
<!-- Demo scripts -->
<script src="~/js/styleswitcher.js"></script>

<script src="~/vendor/jqueryui/js/jquery-ui.min.js"></script>
<script src="~/vendor/moment/moment.min.js"></script>
<script src="~/vendor/fullcalendar/js/fullcalendar.min.js"></script>
<script src="~/js/plugins-init/fullcalendar-init.js"></script>
