@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout_Externo.cshtml";
}

<div id="alertaRecuperacion" class="alert alert-primary solid alert-right-icon alert-dismissible fade show mx-auto" style="max-width: 400px; display: none;">
    <span><i class="mdi mdi-account-search"></i></span>
    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span></button> Si el correo está en nuestra base de datos, te enviaremos los pasos a seguir pronto.
</div>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <h4 class="text-center mb-4">Recuperar Contraseña</h4>

                                @using (Html.BeginForm("PantallaPrincipal", "Home", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        <label><strong>Email</strong></label>
                                        <input type="email" class="form-control" placeholder="hello@example.com">
                                    </div>
                                    <div class="text-center mt-4">
                                        <button id="btnEnviarCorreoRecuperación" type="submit" class="btn btn-primary btn-block">Enviar correo de recuperación</button>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Función para mostrar la alerta
    function mostrarAlerta() {
        var alerta = document.getElementById("alertaRecuperacion");
        alerta.style.display = "block";
    }

    // Agrega un listener al botón para detectar el clic y llamar a la función mostrarAlerta
    document.getElementById("btnEnviarCorreoRecuperación").addEventListener("click", function (event) {
        event.preventDefault(); // Evita que se envíe el formulario antes de mostrar la alerta
        mostrarAlerta(); // Llama a la función para mostrar la alerta
    });
</script>