@{
    ViewData["Title"] = "PasswordFormulario";
    Layout = "~/Views/Shared/_Layout_Externo.cshtml";
}

<style>
    body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 2.5;
        background-color: #f7f7f7; /* Color de fondo de la página */
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    .form-group {
        margin-bottom: 2rem;
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 0px);
        padding: 1.375rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #eaeaea;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .auth-form {
        padding: 55px 30px;
        position: relative; /* Importante para posicionar correctamente el pseudo-elemento */
        z-index: 1; /* Asegura que esté sobre el pseudo-elemento */
    }

        .auth-form h4 {
            font-size: 30px;
            font-weight: bold;
            color: #333;
        }

        .auth-form label {
            font-size: 18px;
            font-weight: bold;
            color: #555;
        }

        .auth-form .btn {
            height: 50px;
            width: 85%;
            font-weight: 700;
        }

    .btn-container {
        display: flex;
        justify-content: center;
    }

    .auth-form .form-control {
        font-size: 16px;
        font-family: 'Verdana', sans-serif;
    }

    .auth-form .btn-primary {
        background-color: #343957;
        border-color: #343957;
        font-size: 20px;
    }

        .auth-form .btn-primary:hover {
            background-color: #343957;
            border-color: #343957;
        }

    .auth-form .text-primary {
        color: #343957;
    }

        .auth-form .text-primary:hover {
            color: #343957;
        }

    .auth-form .alert {
        font-size: 14px;
    }

    .mt-3,
    .my-3 {
        margin-top: 2rem !important;
    }

    .login-container {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .login-card {
        width: 100%;
        max-width: 520px; /* Ancho máximo del formulario */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        background-color: #fff;
        z-index: 1; /* Asegura que esté sobre el fondo difuminado */
    }

    .authincation-content {
        background: #fff;
        border-radius: 5px;
        padding: 2rem;
    }

    .mb-4, .my-4 {
        margin-bottom: 25px !important;
    }

    .auth-form label {
        font-size: 18px;
        font-weight: bold;
        color: #555;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    .auth-form .btn-primary {
        background-color: #343957;
        border-color: #343957;
        font-size: 20px;
    }

    .auth-form .btn {
        height: 50px;
        width: 85%;
        font-weight: 700;
    }
</style>

<div class="login-container">
    <div class="login-card">
        <div class="authincation-content">
            <div class="auth-form">
                <h4 class="text-center mb-4">Cambiar Contraseña</h4>
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                {
                    <div class="form-group">
                        <label><strong>Nueva Contraseña</strong></label>
                        <input type="password" name="NewPassword" class="form-control" placeholder="Nueva contraseña" required>
                    </div>
                    <div class="text-center mt-4 btn-container">
                        <button id="btnCambiarContraseña" type="submit" class="btn btn-primary btn-block">Cambiar Contraseña</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    // Función para mostrar la alerta
    function mostrarAlerta() {
        var alerta = document.getElementById("alertaCambio");
        alerta.style.display = "block";
    }

    // Agrega un listener al botón para detectar el clic y llamar a la función mostrarAlerta
    document.getElementById("btnCambiarContraseña").addEventListener("click", function (event) {
        event.preventDefault(); // Evita que se envíe el formulario antes de mostrar la alerta
        mostrarAlerta(); // Llama a la función para mostrar la alerta
        // Aquí podrías agregar una llamada a una función para enviar el formulario de manera asíncrona, si es necesario
    });
</script>
