@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<style>
    .form-control {
        font-size: 20px;
    }

    .header-left .search_bar .search_icon i {
        font-size: 25px;
        color: #454545;
    }

    .stat-widget-one .stat-text {
        font-size: 20px;
        color: #868e96;
    }

    .header-right .nav-item .nav-link {
        color: #464a53;
        font-size: 28px;
    }

    .stat-widget-one .stat-digit {
        font-size: 25px;
        color: #373757;
    }

    .nav-label {
        font-size: 18px;
    }

    .quixnav .metismenu > li > a {
        font-size: 18px;
        color: #BDBDB9;
    }

    .quixnav .metismenu > li.mm-active ul {
        background-color: rgba(88, 115, 254, 0.04);
        font-size: 16px;
    }

    .footer .copyright {
        background-color: ##868e96; /* Color de fondo del pie de página */
        font-size: 20px;
        color: #373757;
        text-align: center;
        padding: 0.9375rem;
        margin-top: auto;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
        font-size: 18px;
        color: #454545;
    }

    .card-header h2.card-title {
        font-size: 24px;
        color: #333;
    }

    .card-header h4.card-title {
        font-size: 20px;
        color: #333;
    }

    .card-body {
        background-color: #f8f9fa;
        padding: 20px;
    }

    .form-group.row {
        margin-bottom: 15px;
    }

        .form-group.row label {
            font-size: 18px;
            color: #333;
        }

        .form-group.row .col-sm-10 {
            padding-left: 15px;
        }

    .form-control {
        border-radius: 5px;
    }

    .btn-primary {
        color: #fff;
        background-color: #593bdb;
        border-color: #593bdb;
        padding: 14px 30px;
        font-size: 18px;
    }

    .col-form-label {
        padding-top: calc(0.375rem + 1px);
        padding-bottom: calc(0.375rem + 1px);
        margin-bottom: 0;
        font-size: 18px;
        line-height: 1.5;
    }

    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
        font-size: 18px;
        color: #454545;
    }
</style>

<div class="card">
    <div class="card-header">
        <h2 class="card-title">Formulario de Registro para Clientes</h2>
        <h4 class="card-title">Información del Cliente</h4>
    </div>
    <div class="card-body">
        <div class="basic-form">
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nombre del Cliente</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Nombre">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Teléfono</label>
                    <div class="col-sm-10">
                        <input type="telefono" class="form-control" placeholder="Teléfono">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Cédula Jurídica</label>
                        <input type="text" class="form-control" placeholder="Cédula Jurídica">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Cédula Física</label>
                        <input type="text" class="form-control" placeholder="Cédula Física">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Profesión</label>
                        <select id="inputState" class="form-control">
                            <option>Médico</option>
                            <option>Abogado</option>
                            <option>Ingeniero</option>
                            <option>Profesor</option>
                            <option>Enfermero/a</option>
                            <option>Arquitecto</option>
                            <option>Contador/a</option>
                            <option>Administrador/a</option>
                            <option>Programador/a</option>
                            <option>Periodista</option>
                            <option>Psicólogo/a</option>
                            <option>Secretario/a</option>
                            <option>Veterinario/a</option>
                            <option>Cocinero/a</option>
                            <option>Electricista</option>
                            <option>Mecánico/a</option>
                            <option>Plomero/a</option>
                            <option>Constructor/a</option>
                            <option>Diseñador/a</option>
                            <option>Esteticista</option>
                        </select>
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <label class="col-form-label col-sm-2 pt-0">Género</label>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" value="Masculino" checked>
                                <label class="form-check-label">
                                    Masculino
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" value="Femenino">
                                <label class="form-check-label">
                                    Femenino
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="gridRadios" value="Sin Especificar">
                                <label class="form-check-label">
                                    Sin Especificar
                                </label>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <div class="form-group row">
                    <div class="col-sm-2">Tipo</div>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                Cliente Nuevo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                Cliente Asociado
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Ciudades</label>
                        <select id="inputState" class="form-control">
                            <option selected>Selecciona...</option>
                            <option>San José</option>
                            <option>Cartago</option>
                            <option>Heredia</option>
                            <option>Alajuela</option>
                            <option>Puntarenas</option>
                            <option>Guanacaste</option>
                            <option>Limón</option>
                            <option>San José</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Código Postal</label>
                        <select id="inputState" class="form-control">
                            <option value="10000">San José</option>
                            <option value="30101">Cartago</option>
                            <option value="40101">Heredia</option>
                            <option value="20101">Alajuela</option>
                            <option value="60101">Puntarenas</option>
                            <option value="50101">Guanacaste</option>
                            <option value="70101">Limón</option>
                            <option value="10000">San José</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Registrar Cliente</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
