
@{
    ViewData["Title"] = "MantenimientoEmpleado";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Empleados</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Nombre Empleado</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                     <tbody>
                        <td>María García</td>
                        <td>Activo</td>
                        <td>
                            <a title="Ver Detalle Empleado"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                            <a title="Inactivar"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-ban"></i></a>
                        </td>
                        </tr>
                        <tr>
                            <td>José Pérez</td>
                            <td>Activo</td>
                            <td>
                                <a title="Ver Detalle Empleado"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                <a title="Inactivar"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-ban"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Carlos Gómez</td>
                            <td>Activo</td>
                            <td>
                                <a title="Ver Detalle Empleado"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                <a title="Inactivar"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-ban"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Ana López</td>
                            <td>Activo</td>
                            <td>
                                <a title="Ver Detalle Empleado"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                <a title="Inactivar"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-ban"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Luis Hernández</td>
                            <td>Activo</td>
                            <td>
                                <a title="Ver Detalle Empleado"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                <a title="Inactivar"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-ban"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Andrea Martínez</td>
                            <td>Activo</td>
                            <td>
                                <a title="Ver Detalle Empleado"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                <a title="Inactivar"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-ban"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Ricardo Rodríguez</td>
                            <td>Activo</td>
                            <td>
                                <a title="Ver Detalle Empleado"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                <a title="Inactivar"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-ban"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Lorena Sánchez</td>
                            <td>Activo</td>
                            <td>
                                <a title="Ver Detalle Empleado"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                <a title="Inactivar"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-ban"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Juan Torres</td>
                            <td>Activo</td>
                            <td>
                                <a title="Ver Detalle Empleado"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                <a title="Inactivar"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-ban"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Carolina López</td>
                            <td>Activo</td>
                            <td>
                                <a title="Ver Detalle Empleado"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                <a title="Inactivar"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-ban"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Pablo Ruiz</td>
                            <td>Activo</td>
                            <td>
                                <a title="Ver Detalle Empleado"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                <a title="Inactivar"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-ban"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Elena González</td>
                            <td>Activo</td>
                            <td>
                                <a title="Ver Detalle Empleado"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                <a title="Inactivar"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-ban"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Miguel Díaz</td>
                            <td>Activo</td>
                            <td>
                                <a title="Ver Detalle Empleado"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                <a title="Inactivar"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-ban"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Isabel Fernández</td>
                            <td>Activo</td>
                            <td>
                                <a title="Ver Detalle Empleado"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                <a title="Inactivar"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-ban"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Pedro Martín</td>
                            <td>Activo</td>
                            <td>
                                <a title="Ver Detalle Empleado"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                <a title="Inactivar"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-ban"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Valeria Torres</td>
                            <td>Activo</td>
                            <td>
                                <a title="Ver Detalle Empleado"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                <a title="Inactivar"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-ban"></i></a>
                            </td>
                        </tr>
                       </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



