
@{
    ViewData["Title"] = "RegistrarEmpleado";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Registro Nuevo Empleado</h4>
    </div>
    <div class="card-body">
        <div class="basic-form">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Nombre</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Apellido1</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Apellido2</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Fecha Nacimiento</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Identificación</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Estado Civil</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Email</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group col-md-8">
                        <label>Dirección</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Teléfonos</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Salario</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Fecha de Contratación</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Tipo de Pago</label>
                        <select id="inputState" class="form-control">
                            <option selected>Seleccione</option>
                            <option>Mensual</option>
                            <option>Quincenal</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="col-sm-13">
                <button class="btn btn-primary float-right">Registrar Empleado</button>
            </div>
        </div>
    </div>

