@{
    ViewData["Title"] = "MantenimientoCotizacion";
}

<style>
    .form-control {
        font-size: 20px;
    }

    .header-left .search_bar .search_icon i {
        font-size: 25px;
        color: #454545;
    }

    .stat-widget-one .stat-text {
        font-size: 20px;
        color: #868e96;
    }

    .header-right .nav-item .nav-link {
        color: #464a53;
        font-size: 28px;
    }

    .stat-widget-one .stat-digit {
        font-size: 25px;
        color: #373757;
    }

    .nav-label {
        font-size: 18px;
    }

    .quixnav .metismenu > li > a {
        font-size: 18px;
        color: #BDBDB9;
    }

    .card-title {
        font-size: 20px;
        font-weight: 500;
        color: #454545;
        text-transform: capitalize;
        letter-spacing: 0.05em;
    }

    .btn-primary {
        color: #fff;
        background-color: #593bdb;
        border-color: #593bdb;
        padding: 14px 11px;
        font-size: 18px;
    }

    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        color: #333;
        font-size: 15px;
    }

    table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center right;
        font-size: 17px;
    }

    thead {
        display: table-header-group;
        vertical-align: middle;
        unicode-bidi: isolate;
        border-color: inherit;
        border-top-color:;
        border-right-color:;
        border-bottom-color:;
        border-left-color:;
        font-size: 17px;
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        unicode-bidi: isolate;
        border-color: inherit;
        font-size: 17px;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 10px 25px;
    }

    .btn-primary1 {
        color: #fff;
        background-color: #593bdb;
        border-color: #593bdb;
        padding: 14px 11px;
        font-size: 15px;
    }

    table#example {
        padding: 3rem 0 3rem 0;
    }

    .quixnav .metismenu > li.mm-active ul {
        background-color: rgba(88, 115, 254, 0.04);
        font-size: 16px;
    }

    .footer .copyright {
        background-color: ##868e96; /* Color de fondo del pie de página */
        font-size: 20px;
        color: #373757;
        text-align: center;
        padding: 0.9375rem;
        margin-top: auto;
        font-size: 17px;
        color: #333;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Mantenimiento de Cotizaciones</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Fecha Cotización</th>
                                <th>Monto</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Empresa ABC S.A.</td>
                                <td>01/02/2024</td>
                                <td>¢150.000</td>
                                <td>Facturada</td>
                                <td>
                                    <a title="Modificar Cotización"><i style="color: forestgreen;padding-left: 10px;" class="fa fa-pencil fa-lg"></i></a>
                                    <a title="Anular Cotización"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-trash fa-lg"></i></a>
                                    <a title="Duplicar Cotización"><i style="color:blue;padding-left: 10px;margin-left:2%;" class="fa fa-duotone fa-copy"></i></a>
                                    <a title="Ver Cotización"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                    <a title="Descargar Cotización"><i style="color:chocolate;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-download"></i></a>
                                    <a title="Enviar Cotización"><i style="color:cornflowerblue;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-envelope"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Empresa XYZ S.A.</td>
                                <td>01/03/2024</td>
                                <td>¢850.000</td>
                                <td>Anulada</td>
                                <td>
                                    <a title="Modificar Cotización"><i style="color: forestgreen;padding-left: 10px;" class="fa fa-pencil fa-lg"></i></a>
                                    <a title="Anular Cotización"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-trash fa-lg"></i></a>
                                    <a title="Duplicar Cotización"><i style="color:blue;padding-left: 10px;margin-left:2%;" class="fa fa-duotone fa-copy"></i></a>
                                    <a title="Ver Cotización"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                    <a title="Descargar Cotización"><i style="color:chocolate;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-download"></i></a>
                                    <a title="Enviar Cotización"><i style="color:cornflowerblue;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-envelope"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Los Patitos S.A.</td>
                                <td>16/01/2024</td>
                                <td>¢1.500.000</td>
                                <td>No facturada</td>
                                <td>
                                    <a title="Modificar Cotización"><i style="color: forestgreen;padding-left: 10px;" class="fa fa-pencil fa-lg"></i></a>
                                    <a title="Anular Cotización"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-trash fa-lg"></i></a>
                                    <a title="Duplicar Cotización"><i style="color:blue;padding-left: 10px;margin-left:2%;" class="fa fa-duotone fa-copy"></i></a>
                                    <a title="Ver Cotización"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                    <a title="Descargar Cotización"><i style="color:chocolate;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-download"></i></a>
                                    <a title="Enviar Cotización"><i style="color:cornflowerblue;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-envelope"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Universidad Fidélitas S.A.</td>
                                <td>13/12/2023</td>
                                <td>¢150.000</td>
                                <td>Facturada</td>
                                <td>
                                    <a title="Modificar Cotización"><i style="color: forestgreen;padding-left: 10px;" class="fa fa-pencil fa-lg"></i></a>
                                    <a title="Anular Cotización"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-trash fa-lg"></i></a>
                                    <a title="Duplicar Cotización"><i style="color:blue;padding-left: 10px;margin-left:2%;" class="fa fa-duotone fa-copy"></i></a>
                                    <a title="Ver Cotización"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                    <a title="Descargar Cotización"><i style="color:chocolate;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-download"></i></a>
                                    <a title="Enviar Cotización"><i style="color:cornflowerblue;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-envelope"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Cliente 5 S.A.</td>
                                <td>15/02/2024</td>
                                <td>¢180.000</td>
                                <td>Facturada</td>
                                <td>
                                    <a title="Modificar Cotización"><i style="color: forestgreen;padding-left: 10px;" class="fa fa-pencil fa-lg"></i></a>
                                    <a title="Anular Cotización"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-trash fa-lg"></i></a>
                                    <a title="Duplicar Cotización"><i style="color:blue;padding-left: 10px;margin-left:2%;" class="fa fa-duotone fa-copy"></i></a>
                                    <a title="Ver Cotización"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                    <a title="Descargar Cotización"><i style="color:chocolate;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-download"></i></a>
                                    <a title="Enviar Cotización"><i style="color:cornflowerblue;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-envelope"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Cliente 6 S.A.</td>
                                <td>17/03/2024</td>
                                <td>¢280.000</td>
                                <td>No facturada</td>
                                <td>
                                    <a title="Modificar Cotización"><i style="color: forestgreen;padding-left: 10px;" class="fa fa-pencil fa-lg"></i></a>
                                    <a title="Anular Cotización"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-trash fa-lg"></i></a>
                                    <a title="Duplicar Cotización"><i style="color:blue;padding-left: 10px;margin-left:2%;" class="fa fa-duotone fa-copy"></i></a>
                                    <a title="Ver Cotización"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                    <a title="Descargar Cotización"><i style="color:chocolate;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-download"></i></a>
                                    <a title="Enviar Cotización"><i style="color:cornflowerblue;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-envelope"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Cliente 7 S.A.</td>
                                <td>01/02/2024</td>
                                <td>¢150.000</td>
                                <td>Facturada</td>
                                <td>
                                    <a title="Modificar Cotización"><i style="color: forestgreen;padding-left: 10px;" class="fa fa-pencil fa-lg"></i></a>
                                    <a title="Anular Cotización"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-trash fa-lg"></i></a>
                                    <a title="Duplicar Cotización"><i style="color:blue;padding-left: 10px;margin-left:2%;" class="fa fa-duotone fa-copy"></i></a>
                                    <a title="Ver Cotización"><i style="color:indigo;padding-left: 10px;margin-left:2%;" class="fa fa-sharp fa-solid fa-eye"></i></a>
                                    <a title="Descargar Cotización"><i style="color:chocolate;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-download"></i></a>
                                    <a title="Enviar Cotización"><i style="color:cornflowerblue;padding-left: 10px;margin-left:2%;" class="fa fa-solid fa-envelope"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        @* <tfoot>
                            <tr>
                                <th>Cliente</th>
                                <th>Fecha Cotización</th>
                                <th>Monto</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </tfoot> *@
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
