
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

        
    <div class="card">
            <div class="card-header">
        <h2 class="card-title">Formulario de Registro para clientes</h2>
                <h4 class="card-title">Información de cliente</h4>

    </div>
    <div class="card-body">
        <div class="basic-form">
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nombre del cliente</label>
                    <div class="col-sm-10">
                        <input type="nombre" class="form-control" placeholder="Nombre">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Telefono</label>
                    <div class="col-sm-10">
                        <input type="Telefono" class="form-control" placeholder="Telefono">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Cédula Jurídica</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Cédula Física</label>
                        <input type="email" class="form-control" placeholder="">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Profesion</label>
                        <select id="inputState" class="form-control">
                            <option>Médico</option>
                            <option>Abogado</option>
                            <option>Ingeniero</option>
                            <option>Profesor</option>
                            <option>Enfermero/a</option>
                            <option>Arquitecto</option>
                            <option>Contador/a</option>
                            <option>Administrador/a</option>
                            <option>Programador/a</option>
                            <option>Periodista</option>
                            <option>Psicólogo/a</option>
                            <option>Secretario/a</option>
                            <option>Veterinario/a</option>
                            <option>Cocinero/a</option>
                            <option>Electricista</option>
                            <option>Mecánico/a</option>
                            <option>Plomero/a</option>
                            <option>Constructor/a</option>
                            <option>Diseñador/a</option>
                            <option>Esteticista</option>
                        </select>
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <label class="col-form-label col-sm-2 pt-0">Genero</label>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" value="option1" checked>
                                <label class="form-check-label">
                                    Masculino
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" value="option2">
                                <label class="form-check-label">
                                    Femenino
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="gridRadios" value="option2">
                                <label class="form-check-label">
                                    Sin especificar
                                </label>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <div class="form-group row">
                    <div class="col-sm-2">Tipo</div>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                Cliente Nuevo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                Cliente Asociado
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Ciudades</label>
                        <select id="inputState" class="form-control">
                            <option selected>Selecciona...</option>
                            <option>San José</option>
                            <option>Cartago</option>
                            <option>Heredia</option>
                            <option>Alajuela</option>
                            <option>Puntarenas</option>
                            <option>Guanacaste</option>
                            <option>Limón</option>
                            <option>San José</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Codigo postal</label>
                        <select id="inputState" class="form-control">
                            <option value="10000">San José</option>
                            <option value="30101">Cartago</option>
                            <option value="40101">Heredia</option>
                            <option value="20101">Alajuela</option>
                            <option value="60101">Puntarenas</option>
                            <option value="50101">Guanacaste</option>
                            <option value="70101">Limón</option>
                            <option value="10000">San José</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">+</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

        </div>
            
