@{
    ViewData["Title"] = "RegistrarFactura";
}

<style>
    .form-control {
        font-size: 17px;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
        font-size: 18px;
        color: #454545;
    }

    .header-left .search_bar .search_icon i {
        font-size: 25px;
        color: #454545;
    }

    .stat-widget-one .stat-text {
        font-size: 20px;
        color: #868e96;
    }

    .header-right .nav-item .nav-link {
        color: #464a53;
        font-size: 28px;
    }

    .stat-widget-one .stat-digit {
        font-size: 25px;
        color: #373757;
    }

    .nav-label {
        font-size: 18px;
    }

    .quixnav .metismenu > li > a {
        font-size: 18px;
        color: #BDBDB9;
    }

    .quixnav .metismenu > li.mm-active ul {
        background-color: rgba(88, 115, 254, 0.04);
        font-size: 16px;
    }

    .table thead th {
        border-bottom-width: 1px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.5px;
        border-color: #eaeaea;
    }

    .table:not(.table-bordered) thead th {
        border-top: none;
        color: #454545;
    }

    .footer .copyright {
        background-color: ##868e96; /* Color de fondo del pie de página */
        font-size: 20px;
        color: #373757;
        text-align: center;
        padding: 0.9375rem;
        margin-top: auto;
    }

    .card-title {
        font-size: 20px;
        font-weight: 500;
        color: #454545;
        text-transform: capitalize;
        letter-spacing: 0.05em;
    }

    .btn-primary {
        color: #fff;
        background-color: #593bdb;
        border-color: #593bdb;
        padding: 14px 11px;
        font-size: 18px;
    }

    table thead th {
        font-size: 18px;
    }

    table tbody td {
        font-size: 16px;
    }

    table .form-control {
        font-size: 16px;
    }
</style>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Nueva Factura</h4>
    </div>
    <div class="card-body">
        <div class="basic-form">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Cliente</label>
                        <input type="text" class="form-control" placeholder="Empresa XYZ S.A.">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Fecha</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Correo">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Dirección</label>
                        <input type="text" class="form-control" placeholder="Dirección de Cliente">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Teléfonos</label>
                        <input type="text" class="form-control" placeholder="Teléfonos de Cliente">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Moneda</label>
                        <select id="inputState" class="form-control">
                            <option selected>Seleccione</option>
                            <option>¢</option>
                            <option>$</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-header">
        <h4 class="card-title">Detalle de la Factura</h4>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Producto / Servicio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="form-control" placeholder="Nombre del producto / servicio"></td>
                    <td><input type="number" class="form-control" placeholder="Cantidad"></td>
                    <td><input type="number" class="form-control" placeholder="Precio Unitario"></td>
                    <td><input type="number" class="form-control" placeholder="Total" disabled></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" placeholder="Nombre del producto / servicio"></td>
                    <td><input type="number" class="form-control" placeholder="Cantidad"></td>
                    <td><input type="number" class="form-control" placeholder="Precio Unitario"></td>
                    <td><input type="number" class="form-control" placeholder="Total" disabled></td>
                </tr>
            </tbody>
        </table>
        <div class="col-sm-13">
            <button class="btn btn-primary float-right">Facturar</button>
            <button class="btn btn-primary float-left">Agregar Línea</button>
        </div>
    </div>
</div>
