@{
    ViewData["Title"] = "Calendario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body mx-auto text-left">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>¡Bienvenido de vuelta!</h4>
                            <p class="mb-0">Tu apartado de servicios</p>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Servicios</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Calendario</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->

                <div class="row">
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-intro-title">Calendario</h4>
                                <div class="">
                                    <div id="external-events" class="my-3">
                                        <p>Puedes arrastrar tus eventos o hacer click en la fecha deseada</p>
                                        <div class="external-event" data-class="bg-primary"><i class="fa fa-move"></i>Servicio programado</div>
                                        <div class="external-event" data-class="bg-warning"><i class="fa fa-move"></i>Servicio de emergencia</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <div id="calendar" class="app-fullcalendar"></div>
                            </div>
                        </div>
                    </div>
                    <!-- BEGIN MODAL -->
                    <div class="modal fade none-border" id="event-modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"><strong>Añadir un nuevo servicio</strong></h4>
                                </div>
                                <div class="container my-4">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label">Nombre Servicio</label>
                                                <input class="form-control form-white" placeholder="Servicio requerido" type="text" name="service-name">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Hora del servicio</label>
                                                <input class="form-control form-white" placeholder="Hora" type="text" name="service-hour">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Escoja el tipo de servicio</label>
                                                <select class="form-control form-white" data-placeholder="Tipo..." name="service-type">
                                                    <option value="primary">Servicio Programado</option>
                                                    <option value="warning">Servicio de Emergencia</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Técnico asignado</label>
                                                <select class="form-control form-white" data-placeholder="Técnico..." name="service-tech">
                                                    <option value="tech1">Pablo Rodriguez</option>
                                                    <option value="tech2">Laura Maria</option>
                                                    <option value="tech3">Julian Jovares</option>
                                                    <option value="tech4">Carlos Charlie</option>
                                                    <option value="tech5">Pamela Cristina</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Cliente asociado</label>
                                                <select class="form-control form-white" data-placeholder="Cliente..." name="service-client">
                                                    <option value="client1">Tiger Nixon</option>
                                                    <option value="client2">Garrett Winters</option>
                                                    <option value="client3">Ashton Cox</option>
                                                    <option value="client4">Cedric Kelly</option>
                                                    <option value="client5">Brielle Williamson</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Cotización asociada</label>
                                                <select class="form-control form-white" data-placeholder="Cotización..." name="service-cot">
                                                    <option value="cot1">1</option>
                                                    <option value="cot2">2</option>
                                                    <option value="cot3">3</option>
                                                    <option value="cot4">4</option>
                                                    <option value="cot5">5</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Comentarios adicionales</label>
                                                <input class="form-control form-white" placeholder="Comentarios" type="text" name="service-comments">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-success save-event waves-effect waves-light">
                                        Crear
                                        servicio
                                    </button>

                                    <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Borrar</button>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>

            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->



    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/vendor/global/global.min.js"></script>
    <script src="~/js/quixnav-init.js"></script>
    <script src="~/js/custom.min.js"></script>
    <!--removeIf(production)-->
    <!-- Demo scripts -->
    <script src="~/js/styleSwitcher.js"></script>

    <script src="~/vendor/jqueryui/js/jquery-ui.min.js"></script>
    <script src="~/vendor/moment/moment.min.js"></script>

    <script src="~/vendor/fullcalendar/js/fullcalendar.min.js"></script>
    <script src="~/js/plugins-init/fullcalendar-init.js"></script>