@{
    ViewData["Title"] = "Calendario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .breadcrumb {
        margin-bottom: 0;
    }

    .card-title {
        margin-bottom: 15px;
    }

    #external-events {
        margin-bottom: 20px;
    }

    .checkbox-event {
        margin-top: 20px;
    }

    .btn-event {
        margin-top: 20px;
    }
</style>

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Calendario</h4>
                        <div id="external-events">
                            <p>Arrastra y suelta tu evento o haz clic en el calendario</p>
                            <div class="external-event bg-primary"><i class="fa fa-move"></i>Nueva versión del tema</div>
                            <div class="external-event bg-success"><i class="fa fa-move"></i>Mi Evento</div>
                            <div class="external-event bg-warning"><i class="fa fa-move"></i>Reunión con el gerente</div>
                            <div class="external-event bg-dark"><i class="fa fa-move"></i>Crear nuevo tema</div>
                        </div>
                        <div class="checkbox checkbox-event">
                            <input id="drop-remove" class="styled-checkbox" type="checkbox">
                            <label class="ml-2 mb-0" for="drop-remove">Eliminar después de soltar</label>
                        </div>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#add-category" class="btn btn-primary btn-event w-100">
                            <span class="align-middle"><i class="ti-plus"></i></span> Crear Nuevo
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div id="calendar" class="app-fullcalendar"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Add Category -->
        <div class="modal fade" id="add-category">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Agregar una categoría</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Nombre de la Categoría</label>
                                    <input class="form-control form-white" placeholder="Ingrese nombre" type="text" name="category-name">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Seleccione el color de la Categoría</label>
                                    <select class="form-control form-white" data-placeholder="Elija un color..." name="category-color">
                                        <option value="success">Éxito</option>
                                        <option value="danger">Peligro</option>
                                        <option value="info">Información</option>
                                        <option value="pink">Rosa</option>
                                        <option value="primary">Primario</option>
                                        <option value="warning">Advertencia</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
