@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_Externo.cshtml";
}


<div class="d-flex p-2">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <h4 class="text-center mb-4">Iniciar Sesión</h4>


                                @using (Html.BeginForm("PantallaPrincipal", "Home", FormMethod.Post))
                                    {
                                    <div class="form-group">
                                        <label><strong>Usuario</strong></label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label><strong>Contraseña</strong></label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                                    </div>
                                    }
                                <div class="new-account mt-3">
                                    <p><a href="@Url.Action("ForgotPassword", "Home")" class="text-primary">¿Olvidó la contraseña?</a></p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>